@model PortfolioMyriam.Models.PortfolioItemViewModel
@using PortfolioMyriam.Models.Enums
@using PortfolioMyriam.Models.HelperClasses


<div>
    <h4>@Html.DisplayFor(model => model.Title)</h4>
    <hr />
    <p class="description">
        @Html.DisplayFor(model => model.Description)
    </p>
    @if (Model.ExternalReference.ExternalReferenceType == ExternalReferenceType.IFrame)
    {
    <div class="spacer-top-half">
        @Html.Raw(@Model.ExternalReference.Uri)
    </div>
    }
    else
    {
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.ExternalReference)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ExternalReference.Uri)
            </dd>
        </dl>
    }

</div>
