@model PortfolioMyriam.Models.PortfolioItemViewModel
@using PortfolioMyriam.Models.Enums

@{
    ViewData["Title"] = "Details";
}

<div class="container-centered spacer-top spacer-bottom">

    <div class="portfolio-item-centered">
        <h4>@Html.DisplayFor(model => model.Title)</h4>
        <hr />
        <p>
            @Html.DisplayFor(model => model.Description)
        </p>
        @if (Model.ExternalReference.ExternalReferenceType == ExternalReferenceType.IFrame)
        {
            <iframe allowfullscreen webkitallowfullscreen width="640" height="480" frameborder="0" seamless src="@Model.ExternalReference.Uri"></iframe>
        }
        else
        {
            <dl>
                <dt>
                    @Html.DisplayNameFor(model => model.ExternalReference)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ExternalReference.Uri)
                </dd>
            </dl>
        }

    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</div>