@model IEnumerable<PortfolioMyriam.Models.PortfolioItemViewModel>
@using PortfolioMyriam.Models.HelperClasses
@{
    ViewData["Title"] = "Index";
}

<div class="container-centered spacer-top spacer-bottom">
    <h2>Portfolio Items</h2>

    @if (User.IsInRole(Roles.Admin))
    {
        <p>
            <a asp-action="Create">Create New</a>
        </p>
    }

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td class="description">
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                        @await Html.PartialAsync("AdminEditPartial", item)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>